/zcu106/pac/
/zcu102/pac/
/zcu104/pac/
_x/
binary_container_1/
*_hw_mpsoc/
pp_pipeline_accel/
sample_link.ini
isppipeline.prj/
/zcu106/platforms/linux.bif
/zcu106/platforms/petalinux/zcu106_rpiMipiRx_vcu_DP/
/zcu106/platforms/petalinux/zcu106_rpiMipiRx_DP/
/zcu104/platforms/linux.bif
/zcu104/platforms/petalinux/zcu104_rpiMipiRx_vcu_DP/
/zcu104/platforms/petalinux/zcu104_rpiMipiRx_DP/
/zcu102/platforms/linux.bif
/zcu102/platforms/petalinux/zcu102_rpiMipiRx_DP/
*.log
*.jou
/zcu106/platforms/vivado/zcu106_rpiMipiRx_vcu_DP/ip/isp_single_kv260/settings.tcl
/zcu106/platforms/vivado/zcu106_rpiMipiRx_vcu_DP/project/
/zcu106/platforms/xilinx_zcu106_rpiMipiRx_vcu_DP_202210_1/
/zcu106/platforms/vivado/zcu106_rpiMipiRx_DP/ip/isp_single_kv260/settings.tcl
/zcu106/platforms/vivado/zcu106_rpiMipiRx_DP/project/
/zcu106/platforms/xilinx_zcu106_rpiMipiRx_DP_202210_1/
/zcu106/platforms/xsct/
/zcu104/platforms/vivado/zcu104_rpiMipiRx_vcu_DP/ip/isp_single_kv260/settings.tcl
/zcu104/platforms/vivado/zcu104_rpiMipiRx_vcu_DP/project/
/zcu104/platforms/xilinx_zcu104_rpiMipiRx_vcu_DP_202210_1/
/zcu104/platforms/vivado/zcu104_rpiMipiRx_DP/ip/isp_single_kv260/settings.tcl
/zcu104/platforms/vivado/zcu104_rpiMipiRx_DP/project/
/zcu104/platforms/xilinx_zcu104_rpiMipiRx_DP_202210_1/
/zcu104/platforms/xsct/
/zcu102/platforms/vivado/zcu102_rpiMipiRx_DP/ip/isp_single_kv260/settings.tcl
/zcu102/platforms/vivado/zcu102_rpiMipiRx_DP/project/
/zcu102/platforms/xilinx_zcu102_rpiMipiRx_DP_202210_1/
/zcu102/platforms/xsct/

