zcu106/pac/
zcu106/overlays/examples/smartcam/_x/
zcu106/overlays/examples/smartcam/binary_container_1/
zcu106/overlays/examples/smartcam/*_hw_mpsoc/
zcu106/overlays/examples/smartcam/pp_pipeline_accel/
zcu106/overlays/examples/smartcam/sample_link.ini
zcu106/platforms/linux.bif
zcu106/platforms/petalinux/zcu106_rpiMipiRx_vcu_DP/
zcu106/platforms/vivado/zcu106_rpiMipiRx_vcu_DP/ip/isp_single_kv260/isppipeline.prj/
*.log
*.jou
zcu106/platforms/vivado/zcu106_rpiMipiRx_vcu_DP/ip/isp_single_kv260/settings.tcl
zcu106/platforms/vivado/zcu106_rpiMipiRx_vcu_DP/project/
zcu106/platforms/xilinx_zcu106_rpiMipiRx_vcu_DP_202210_1/
zcu106/platforms/xsct/

